@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

body {
  @apply bg-background text-white antialiased scroll-smooth;
}

.background-gradient {
  background-image: -moz-linear-gradient(145deg, #42d392 0%, #6088f3 100%);
  background-image: -webkit-linear-gradient(145deg, #42d392 0%, #6088f3 100%);
  background-image: linear-gradient(145deg, #42d392 0%, #6088f3 100%);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #151515;
}
::-moz-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #646464;
  border-radius: 20px;
}

.glassmorphism {
  background: #1a1b2526;
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.glassmorphism-2 {
  background: #1a1b2590;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.shadow-p {
  box-shadow: 2px 4px 14px 2px #00000060;
}
.shadow-p-2 {
  box-shadow: 0 8px 24px 0 #fff;
}