@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
}

body {
  @apply bg-background text-white antialiased scroll-smooth;
}

.background-gradient {
  background-image: -moz-linear-gradient(to bottom, #42d392 0%, #8B5CF6 100%);
  background-image: -webkit-linear-gradient(to bottom, #42d392 0%, #8B5CF6 100%);
  background-image: linear-gradient(to bottom, #42d392 0%, #8B5CF6 100%);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #151515;
}
::-moz-scrollbar {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #646464;
  border-radius: 20px;
}

.glassmorphism {
  background: #1a1b2526;
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.glassmorphism-2 {
  background: #1a1b2590;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.shadow-p {
  box-shadow: 2px 4px 14px 2px #00000060;
}
.shadow-p-2 {
  box-shadow: 0 8px 24px 0 #fff;
}

/*  */
/* From Uiverse.io by WhiteNervosa */ 
/* Variation of work by @mrhyddenn for Radios */


.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #a3e583);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}