@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  @apply bg-background  text-white antialiased scroll-smooth;
}

.background-gradient {
  background-image: -moz-linear-gradient(
    to top right,
    #42d392 0%,
    #8b5cf6 100%
  );
  background-image: -webkit-linear-gradient(
    to top right,
    #42d392 0%,
    #8b5cf6 100%
  );
  background-image: linear-gradient(to top right, #42d392 0%, #8b5cf6 100%);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 20px;
}
::-moz-scrollbar {
  background-color: transparent;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #ffffff;
  border-radius: 20px;
}

.glassmorphism {
  background: #1a1b2526;
  box-shadow: 0 8px 32px 0 rgba(31, 31, 31, 0.37);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}
.glassmorphism-2 {
  background: #1a1b2590;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
}

.shadow-p {
 -webkit-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.10);
-moz-box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.10);
box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.10);
}
.shadow-p-2 {
  box-shadow: 2px 28px 28px 2px #00000080;
}

/*  */
/* From Uiverse.io by WhiteNervosa */
/* Variation of work by @mrhyddenn for Radios */

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #22c55e);
}

.cbx2:checked + .check svg {
  stroke: var(--accent-color, #22c55e);
}

.cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

.cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

/*  */

/*  */
/* Definindo a animação de border-radius */
@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; /* 12px */
  }
}

.opacityAnimation {
  transition: 0.3s ease-in-out;
  animation: opacityAnimation 300ms ease-in-out forwards;
}

/* markdown */
.markdown-context h1,
.markdown-context h2,
.markdown-context h3,
.markdown-context h4,
.markdown-context h5,
.markdown-context h6 {
  font-weight: bold;
  width: fit-content;
}

.markdown-context h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.markdown-context h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.markdown-context h3 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.markdown-context em {
  font-style: italic;
}

.markdown-context pre {
  background-color: #101010;
  padding: 8px;
  overflow: scroll;
  border-radius: 8px;
}

.markdown-context hr {
  border: none;
  height: 2px;
  background: linear-gradient(to top right, #42d392 0%, #8b5cf6 100%);
  margin: 20px 0;
  display: block;
}

.markdown-context p {
  margin: 10px 0;
  display: block;
}

.markdown-context li {
  list-style-type: disc;
  margin-left: 16px;
}

.markdown-context blockquote {
  border-left: 4px solid #18181b;
  padding-left: 16px;
  margin: 16px 0;
  font-style: italic;
}

.markdown-context a {
  color: #007acc;
  text-decoration: none;
  border-bottom: 1px dashed #007acc;
  transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

.markdown-context a:hover {
  color: #005f99;
  border-bottom-color: #005f99;
}

.markdown-context a:visited {
  color: #5a5a5a;
}

/*  */

.circle-effect:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    ellipse at center,
    #09090900 0%,
    #090909e1 2.0%,
    #090909 2.8%,
    #090909 100%
  );
  border-radius: 50%;
  position: absolute;
}

::selection {
  color: #ffffff;
  background-color: #18181b;
}
